* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1250px;
  margin: 0 auto;
  padding-top: 50px;
}
.main {
  width: 50%;
  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  background-color: #243754;
  border-radius: 30px;
}
.main-heading {
  color: white;
  font-size: 50px;
  margin: 20px;
}
.ipu-btn-div {
  display: flex;
  justify-content: center;
}
.card-div {
  display: flex;
  justify-content: center;
}
